.app {
    /* background-color: black; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    font-size: larger;
    align-self: center;
    align-content: center;
    text-align: center;
}